name: Continuous Integration

on:
  pull_request:
    types: [opened, reopened]
    branches: "feature/**"

jobs:
  tests:
    runs-on: ubuntu-latest

    env:
      MONGO_URI: ${{ secrets.MONGO_URI }}

    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Java SDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      # Verificar se a vari치vel MONGO_URI est치 correta
      - name: Verify MongoDB URI
        run: echo "MONGO_URI is set to $MONGO_URI"
        shell: bash

      # Rodar testes unit치rios
      - name: Run Unit Tests
        run: mvn test

      # Rodar testes BDD (com Cucumber)
      - name: Run BDD Tests
        run: mvn verify -P bdd-tests

      # Rodar testes de API (com RestAssured)
      - name: Run API Tests
        run: mvn verify -P api-tests

      # Publicar relat칩rios de testes
      - name: Publish Test Report
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: target/surefire-reports/
